@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/Roboto/Roboto-Regular.ttf') format('truetype'),
  }
  
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 1500;
    src: url('./assets/Roboto/Roboto-Medium.ttf') format('truetype'),
  }